env:
  database: "postgres"
  pg_user: postgres
  pg_password: mypostgresql
  pg_database: kong
  pg_host: 172.17.0.1

ingressController:
  installCRDs: false

proxy:
  type: LoadBalancer
  http:
    enabled: true
    servicePort: 80
  tls:
    enabled: false

admin:
  enabled: true
  type: LoadBalancer
  http:
    enabled: true
    servicePort: 30085

postgresql:
  enabled: false
